{% include 'base.html' %}
{% load static %} 

 
 {% block content %}
   

 <div class="page-title-content text-center bg-default-3"  >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-7">
          <h2 class="page-title-content__heading">About Us</h2>
  
          
          <p class="page-title-content__text">To build operationally excellent businesses both in structure and<br class="d-none d-md-block"> 
            in performance  by the application of proven management principles, techniques, and technology </p>
        </div>
      </div>
    </div>
    <div class="shape">
      <img class="w-100" src="{% static 'image/png/inner-banner-shape.png' %}" alt="">
    </div>
  </div>

  <div class="feature-section feature-section--l3 bg-default-3" style="padding: 0;">
    <div class="container">
      <!-- Section Title -->
      <div class="row">
        <div class="col-xl-8 col-lg-10">
          <div class="section-title section-title--l3">
            <h6 class="section-title__sub-heading" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">About us</h6>
            <h2 class="section-title__heading" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300" 
            data-aos-once="true">
            Our vision is to To become the leading business transformation
              <br class="d-none d-xs-block" />
               consulting firm
              <!-- <br class="d-none d-xs-block" /> -->
            </h2>
          </div>
        </div>
      </div>
      <div class="row mb-5 mb-lg-7">
        <div class="col-lg-6 col-md-12">
          <div class="section-title section-title--l3">
            <p class="section-title__description me-5" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400" data-aos-once="true">
                SPNS Consulting commenced business operations in 2003 as a financial and management
                 consulting firm with the name Savvy Consulting.
                 SPNS is wholly owned by its management team and members of staff.
            </p>
            <p> 
                In September 2004, the management team decided to place special focus on three inter- related business 
                lines directing its core focus on Business Process Design & Management, Corporate Strategy Development, 
                Training, and Human Capital Development. This is based on the desire of the management team to see businesses
                 transform into larger business organizations 
                through an effective business process management system and a sound corporate strategic framework.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="section-title section-title--l3">
            <p class="section-title__description me-5" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400" data-aos-once="true">
                Today, SPNS Consulting has grown to become relevant in the areas of Business Process Management, 
                Corporate Strategy, Enterprise Transformation Solutions, Training, Human Capital Development, and
                 Human Resource Management which has been 
                grouped together in our three-fold framework; Consulting, Outsourcing, and Technology.
            </p>
            <p>
                Our quest is to continue to add value to the businesses of our clients. Our stakeholders have 
                seen us emerge as a pacesetter and industry leader in these major areas and this is evident in our
                 array of works and the introduction
                 of programs that help clients achieve successful customer outcomes
            </p>
          </div>
        </div>
      </div>
      <!--/ .Section Title -->
      <!-- Feature Content -->
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-6 col-md-12">
          <div class="feature-content--l3__image mb-4 mb-lg-0" data-aos="fade-right" data-aos-duration="500" data-aos-once="true">
            <img class="w-100" src="{% static 'image/home-3/feature-l3-image.png' %}" alt="" />
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="feature-right" data-aos="fade-left" data-aos-duration="500" data-aos-once="true">
            <!-- Feature List -->
            <ul class="feature-content--l3__list list-unstyled">
              <li>We are an indigenous consulting firm operating within a global framework. Our practice span across the continent of Africa.</li>
              <li>About 35,045 hours committed to research and development as well as clients' project execution across various sectors of the economy.</li>
              <li>Our functional practice provides for the major areas of general management consulting practice without losing focus of our key focus areas</li>
                <li>
                    We apply industry-wide tested consulting tools alongside our in-house developed tools towards the provision of solutions on client’s projects.
                </li>
                <li>
                    Our primary functional practices are; Business Process & Performance Management
                </li>
            </ul>
            <!--/ .Feature List -->
            <!--Counter Bar -->
            <!-- <div class="feature-counter feature-counter--l3" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300" data-aos-once="true">
              <div class="counter-widgets dark-mode-texts">
                <div class="counter-widgets__single counter-content">
                  <h2 class="counter-content__heading"><span class="counter">280</span></h2>
                  <p class="counter-content__text">Project Launched</p>
                </div>
                <div class="counter-widgets__single counter-content">
                  <h2 class="counter-content__heading"><span class="counter">640</span></h2>
                  <p class="counter-content__text">Happy clients</p>
                </div>
                <div class="counter-widgets__single counter-content">
                  <h2 class="counter-content__heading">+<span class="counter">3500</span></h2>
                  <p class="counter-content__text">Users Comments</p>
                </div>
              </div>
            </div> -->
            <!--/ .Counter Bar -->
          </div>
        </div>
      </div>
      <!--/ .Feature Content -->
    </div>
  </div>

 {% endblock content %}
   

 