


{% include 'base.html' %}
{% load static %} 

 
 {% block content %}

 <div class="service-area service-area--inner bg-default-3">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="section-title section-title--innerpage text-center">
            <h2 class="section-title__heading">Our Solutions</h2>
            <p class="section-title__description">
                
                To build operationally excellent businesses both in structure
                <br class="d-none d-md-block">
                and in performance by the application of proven management principles, techniques, and technology</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-9 col-xs-10 ">
          <!-- Single Services -->
          <div class="card card--services-l4 text-center">
            <div class="card--services-l4__icon mx-auto bg-blue-ribbon-2 shadow--blue-ribbon-2">
              <i class="fa fa-briefcase"></i>
            </div>
            <h3 class="card--services-l4__heading">Design & Vreatives</h3>
            <p class="card--services-l4__content">There are many variations passages of Lorem lpsum majority,
              some words don’t look believable if you are going to use.</p>
            <a class="btn-link mx-auto" href="#">Learn More <i class="fa fa-angle-right"></i></a>
          </div>
          <!--/ .Single Services -->
          <!-- Single Services -->
          <div class="card card--services-l4 text-center">
            <div class="card--services-l4__icon mx-auto bg-orange shadow--orange">
              <i class="fa fa-baby"></i>
            </div>
            <h3 class="card--services-l4__heading">Paid parental leave</h3>
            <p class="card--services-l4__content">There are many variations passages of Lorem lpsum majority,
              some words don’t look believable if you are going to use.</p>
            <a class="btn-link mx-auto" href="#">Learn More <i class="fa fa-angle-right"></i></a>
          </div>
          <!--/ .Single Services -->
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-9 col-xs-10">
          <!-- Single Services -->
          <div class="card card--services-l4 text-center">
            <div class="card--services-l4__icon mx-auto bg-torch-red shadow--torch-red">
              <i class="fa fa-hourglass-half"></i>
            </div>
            <h3 class="card--services-l4__heading">Flexible hours</h3>
            <p class="card--services-l4__content">There are many variations passages of Lorem lpsum majority,
              some words don’t look believable if you are going to use.</p>
            <a class="btn-link mx-auto" href="#">Learn More <i class="fa fa-angle-right"></i></a>
          </div>
          <!--/ .Single Services -->
          <!-- Single Services -->
          <div class="card card--services-l4 text-center">
            <div class="card--services-l4__icon mx-auto bg-java-2 shadow--java-2">
              <i class="fa fa-gift"></i>
            </div>
            <h3 class="card--services-l4__heading">Yearly bonuses</h3>
            <p class="card--services-l4__content">There are many variations passages of Lorem lpsum majority,
              some words don’t look believable if you are going to use.</p>
            <a class="btn-link mx-auto" href="#">Learn More <i class="fa fa-angle-right"></i></a>
          </div>
          <!--/ .Single Services -->
        </div>
        <div class="col-xl-4 col-md-12  col-sm-9 col-xs-10">
          <div class="row">
            <!-- Single Services -->
            <div class="col-xl-12 col-md-6">
              <div class="card card--services-l4 text-center">
                <div class="card--services-l4__icon mx-auto bg-yellow shadow--yellow">
                  <i class="fa fa-suitcase-rolling"></i>
                </div>
                <h3 class="card--services-l4__heading">Work and travel</h3>
                <p class="card--services-l4__content">There are many variations passages of Lorem lpsum
                  majority, some words don’t look believable if you are going to use.</p>
                <a class="btn-link mx-auto" href="#">Learn More <i class="fa fa-angle-right"></i></a>
              </div>
            </div>
            <!--/ .Single Services -->
            <!-- Single Services -->
            <div class="col-xl-12 col-md-6">
              <div class="card card--services-l4 text-center">
                <div class="card--services-l4__icon mx-auto bg-electric-violet-3 shadow--electric-violet-3">
                  <i class="fa fa-dollar-sign"></i>
                </div>
                <h3 class="card--services-l4__heading">Smart salary</h3>
                <p class="card--services-l4__content">There are many variations passages of Lorem lpsum
                  majority,
                  some words don’t look believable if you are going to use.</p>
                <a class="btn-link mx-auto" href="#">Learn More <i class="fa fa-angle-right"></i></a>
              </div>
              <!--/ .Single Services -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


 {% include 'partials/footer.html' %}

  {% endblock content %}