{% load  static %}
<!-- Footer Area -->
               <footer class="footer-section footer-section--l5 position-relative bg-default-3">
                <div class="container">
                  <div class="footer-top">
                    <div class="row align-items-center justify-content-center">
                      <div class="col-xl-4">
                        <div class="footer-brand-block footer-brand-block--l5 mb-5">
                          <!-- Brand Logo-->
                          <div class="brand-logo">
                            <a href="#">
                              <img src="{% static 'logo.svg' %}" alt="" style="width:90px"class="light-version-logo">
                              <!-- Dark version logo (logo must be White)-->
                              <img src="{% static 'logo.svg' %}"  alt="" style="width:90px" class="dark-version-logo">
                            </a>
                          </div>
                          <p class="footer-brand-block__text text-center">
                            Our quest is to continue to add value to the businesses of our clients
                          </p>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="footer-menu text-center">
                          <ul class="list-unstyled">
                            <li><a href="/">Home</a></li>
                            <li><a href="{% url 'about' %}">About</a></li
                            <li><a href="{% url 'contact' %}">contact</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="copyright-block copyright-block--l3">
                    <div class="row  text-center align-items-center">
                      <!-- <div class="col-12 text-center">
                        <ul class="footer-social-share footer-social-share--rounded">
                          <li>
                            <a href="#">
                              <i class="fab fa-facebook-square"></i>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <i class="fab fa-twitter"></i>
                            </a>
                          </li>

                          <li>
                            <a href="https://instagram.com/spnsconsulting?utm_medium=copy_link">
                              <i class="fab fa-instagram"></i>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <i class="fab fa-linkedin"></i>
                            </a>
                          </li>
                        </ul>
                      </div> -->
                      <div class="col-12 text-center">
                        <p class="copyright-text--l3 ">©SPNS 2021.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </footer>
              <!--/ .Footer Area -->
